@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh; /*SABER MELHOR OQ SIGNIFICA*/
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1{
    font-variant: small-caps;
    font-size: 2.5em;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 50px;
    line-height: 2em;
}

section.normal{
    background-color: white;
}

section.imagem{
    color: white;
    margin-left: -20px;
}

section.imagem > p{
    background-color: black;
    display: inline-block;
    padding: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px;
}